body {
  background-color: #f5efe6;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  gap: 1vh;
}

.sub-containers {
  background-color: teal;
  height: 99vh;
  width: 80%;
  overflow: auto;
  display: grid;
  justify-content: center;
  gap: 5px;
  padding: 5px 0 0 5px;
}

.news-link {
  background-color: brown;
  height: 100px;
  width: 380px;
}

a {
  color: #fff;
  background-color: #0078aa;
  text-decoration: none;
}

header {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: repeat(9, 1fr);
}

header button {
  background-color: #0078aa;
  height: 50px;
  width: 100px;
  border-radius: 10%;
}
