.container {
  background-color: #eee;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 30px;
  width: 1000px;
  height: 800px;
  grid-template-areas:
    "header header header header"
    "box1 box2 box3 sidebar"
    "main main main sidebar"
    "footer footer footer footer";
}

.header {
  background-color: red;
  grid-area: header;
}

.small-box--1 {
  grid-area: box1;
  background-color: red;
}

.small-box--2 {
  grid-area: box2;
  background-color: red;
}

.small-box--3 {
  grid-area: box3;
  background-color: red;
}

.sidebar {
  grid-area: sidebar;
  background-color: red;
}

.main-content {
  grid-area: main;
  background-color: red;
}

.footer {
  grid-area: footer;
  background-color: red;
}
