body {
  background-color: #f5efe6;
  margin: 0;
}

.container-buttons {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  margin-top: 50px;
}

.container-buttons > button {
  margin-left: 10px;
  width: 150px;
  height: 50px;
  background-color: #aebdca;
  border-radius: 10px;
  border: 0.1px solid #7895b2;
}

button p {
  font-weight: 600;
  color: #ffffff;
}

.news-container {
  background-color: brown;
  height: 320px;
  width: 320px;
}
/* EL CLASSICO  */

.main-container-el-classico {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: #ddd;
}
.left-container-el-classico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #ddd;
  height: 100vh;
  overflow: auto;
}
.right-container-el-classico {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: #ddd;
  height: 100vh;
  overflow: auto;
}

/* ----------------------------- */
.main-container-the-reader {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: #ddd;
}
.right-container-the-reader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  background-color: #ddd;
  height: 100vh;
  overflow: auto;
}
